body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0px;
    background-color: rgb(185, 240, 240);
}

header{
    font-size:x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

nav button{
    display:flex;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 250px;
    padding: 5px 0;
    background-color:rgba(128, 128, 128, 0.279);
}

nav button:hover{
    background-color: rgba(0, 0, 0, 0.23);
   cursor: pointer;
}

#inDados{
    padding: 5px 15px;
    border-radius: 20px;
    height: 95%;
    margin: 0 15px;
    font-size:2vh;
}

nav{
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav input{
    
}

.container{
    margin: 15px auto;
    width: 90%;
}

#filmes2025{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.posterFilme img{
    width: 340px;
    height: 425px;
    border-radius: 15px 15px 0 0;
    border: 2px solid black;
    border-bottom: 0;
}

.posterFilme{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 0;
}
.posterFilme p{
    font-size: x-large;
    border: 2px solid black;
    border-top: 0;
    background-color: rgb(169, 190, 189);
    margin: 0;
    padding: 7px;
    border-radius: 0 0 15px 15px;
}

h2{
    border-bottom: 5px solid black;
    padding-bottom: 5px;
}

a{
    text-decoration: none;
    color: black;
}

.cardFilme{
    display: flex;
    width: 85%;
    border: 3px solid rgba(0, 0, 0, 0.418);
    border-radius: 50px;
    margin: 50px auto;
}

.divPoster{
    padding: 15px;
    margin: 15px;
}

.divInfos{
    font-size: larger;
    padding: 50px;
}